

.containerSemi {
	display: inline-block;
	background-color: rgba(111, 207, 21, 0.171);
	min-width: 27em;
	max-width: 27em;
	min-height: 40em;
	margin: 15px;
	border-radius: 14px;
	margin-right: 50em;
	height: auto;
}

.infoH1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-size: 25px;
}

.button {
  transition-duration: 0.4s;
  background-color: #1b8811;
  color: rgb(125, 184, 133);
  border: 2px solid #4CAF50; /* Green */
  border-radius: 14px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  font-size: 16px;
  }
  
  .button:hover {
	background-color: #4CAF50; /* Green */
	color: white;
  }
